/* UTILS */
:root {
  --light-color: #ffffff;
  --mob-modal-text: #212121;
  --dark-color: #2f303a;
  --logo-span: #2196f3;
  --btn: #2196f3;
  --nav-btn: #ffffff;
  --logo-nav-header: #212121;
  --title: #212121;
  --hover-focus: #2196f3;
  --mail-tel: #757575;
  --text: #757575;
  --desk-link: #f5f4fa;
  --prof-team: #f5f4fa;
  --color-item-page: #2196f3;
  --line: #2196f3;
  --fill-nav-icon: #757575;
  --fill-icon: #afb1b8;
  --modal-btn: #188ce8;
  --modal-btn-back: #ffffff;
  --soc-fill: #afb1b8;
  --soc-back: #ffffff;
  --fill-list-icon: #ffffff;
  --footer-icon: #ffffff;
  --footer-link: #484957;
  --modal: #ffffff;
  --check-link: #2196f3;
  --modal-policy: #757575;
  --before-policy: #ffffff;
  --modal-form-color: #757575;
  --border-link: #2196f3;
  --back-btn: #f5f4fa;
  --mob-menu-accent: #2196f3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* BASE */
.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-size: contain;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background-color: var(--line);
  border-radius: 2px;
}

.current-prof::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 78px;
  height: 4px;
  background-color: var(--line);
  border-radius: 2px;
}

/* COMPONENTS */
.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  width: 134px;
  color: var(--logo-span);
  text-decoration: none;
  cursor: pointer;
  margin-right: 88px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo-img {
  color: var(--logo-nav-header);
}

.studia {
  color: var(--color-item-page);
}

.logo-footer-item {
  display: block;
  align-items: center;
  flex-direction: column;
}

.logo-footer {
  display: block;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  width: 154px;
  margin-bottom: 20px;
  cursor: pointer;
}

.logo-style-footer {
  color: var(--light-color);
}

@media screen and (min-width: 768px) {
  .logo-footer-item {
    display: block;
    align-self: center;
    flex-direction: row;
  }
  .logo-footer {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    display: flex;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: var(--logo-span);
    text-decoration: none;
    width: 145px;
    align-content: flex-start;
    margin-bottom: 20px;
  }
  .logo-footer-item {
    display: block;
  }
}

.modal-button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background: var(--btn);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal-button:hover, .modal-button:focus {
  background-color: var(--btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-button-block {
  margin-top: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--soc-back);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--btn);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--fill-list-icon);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--soc-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link {
  display: flex;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--footer-link);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--footer-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #ffffff;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--hover-focus);
}

@media screen and (min-width: 768px) {
  .footer-social-block {
    display: flex;
    align-self: center;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-block {
    display: block;
    margin-left: 70px;
  }
  .footer-social-list {
    display: flex;
  }
}

.headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

.title-benefits {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title);
  margin-bottom: 8px;
}

.title-team {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-bottom: 8px;
}

.client-title {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 8px;
}

.footer-social-title {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 10px;
}

.sub-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .headline {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    min-width: 360px;
    height: 84px;
  }
  .title-benefits {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title);
    margin-bottom: 10px;
  }
  .title-team {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-spec);
    margin-bottom: 30px;
  }
  .client-title {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title);
    margin-bottom: 30px;
  }
  .footer-social-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
  .sub-title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .headline {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    min-width: 360px;
    height: 84px;
  }
  .title-benefits {
    display: flex;
  }
  .title-team {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-spec);
    margin-bottom: 30px;
  }
  .client-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title);
    margin-bottom: 30px;
  }
  .footer-social-title {
    display: block;
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
  .sub-title {
    display: block;
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .headline {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    min-width: 696px;
    height: 120px;
  }
  .title-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title);
    width: 270px;
    margin-bottom: 10px;
  }
  .options-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title);
    margin-bottom: 50px;
  }
  .title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-spec);
    margin-bottom: 50px;
  }
  .client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title);
    margin-bottom: 50px;
  }
  .footer-social-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
  .sub-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
}

/*.headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  min-width: 360px;
  height: 84px;
}

.title-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title);
    width: 270px;
    margin-bottom: 10px;
}

.options-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 50px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-bottom: 50px;
}*/
/* LAYOUT */
.mobile-menu {
  z-index: 1;
  position: absolute;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  top: 0;
  left: 50%;
  padding: 48px 40px;
  overflow: scroll;
  transform: translateX(-50%) translateY(-100%);
  background-color: var(--light-color);
  transition: transform 500ms linear;
}

.mobile-menu-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.467;
  letter-spacing: 0.02em;
  color: var(--mob-modal-text);
}

.mobile-phone {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.317;
  letter-spacing: 0.02em;
  color: var(--mob-menu-accent);
  margin-bottom: 32px;
}

.mobile-mail {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--mail-tel);
}

.mobile-social-link {
  font-weight: 400;
  color: var(--mob-menu-accent);
}

.mobile-social-list {
  position: relative;
  display: inline-flex;
}

.mobile-social-list:not(:first-child) {
  margin-left: 5px;
}

.mobile-social-list:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -5px;
  top: 5px;
  height: 0;
  width: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: -7px;
}

@media screen and (min-width: 480px) {
  .header {
    background: var(--light-color);
  }
  .header {
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .contacts {
    display: none;
  }
  .burger-btn,
  .mobile-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .burger-icon,
  .close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    top: 0;
    left: 50%;
    padding: 48px 40px;
    overflow: scroll;
    transform: translateX(-50%) translateY(-100%);
    background-color: var(--light-color);
    transition: transform 500ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }
  .mobile-menu-list:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts {
    margin-top: 300px;
  }
  .mobile-contacts-list:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--mob-modal-text);
  }
  .mobile-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--mob-menu-accent);
    margin-bottom: 32px;
  }
  .mobile-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--mail-tel);
  }
  .mobile-menu-social {
    display: flex;
    margin-top: 60px;
  }
  .mobile-social-list {
    position: relative;
    display: inline-flex;
  }
  .mobile-social-list:not(:first-child) {
    margin-left: 20px;
  }
  .mobile-social-list:not(:last-child)::after {
    position: absolute;
    content: "";
    right: -10px;
    top: 10px;
    height: 0;
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: -12px;
  }
  .mobile-social-link {
    font-weight: 500;
    color: var(--mob-menu-accent);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--logo-nav-header);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--hover-focus);
  }
  .portfolio {
    color: var(--mob-menu-accent);
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
  .mail-list-icon {
    width: 14px;
    height: 10px;
    fill: var(--fill-nav-icon);
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover .mail-list-icon,
  .mail-link:focus .mail-list-icon {
    fill: var(--hover-focus);
  }
  .mail-link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover, .mail-link:focus {
    color: var(--hover-focus);
  }
  .tel-list-icon {
    width: 10px;
    height: 14px;
    fill: var(--fill-nav-icon);
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover .tel-list-icon,
  .tel-link:focus .tel-list-icon {
    fill: var(--hover-focus);
  }
  .tel-link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover, .tel-link:focus {
    color: var(--hover-focus);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    color: var(--mob-menu-accent);
  }
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts-list {
    margin-bottom: 0;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 0;
  }
  .contacts-list:not(:last-child) {
    margin-right: 30px;
  }
  .mail-list-icon {
    width: 16px;
    height: 12px;
    fill: var(--fill-nav-icon);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover .mail-list-icon,
  .mail-link:focus .mail-list-icon {
    fill: var(--hover-focus);
  }
  .mail-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover, .mail-link:focus {
    color: var(--hover-focus);
  }
  .tel-list-icon {
    width: 10px;
    height: 16px;
    fill: var(--fill-nav-icon);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover .tel-list-icon,
  .tel-link:focus .tel-list-icon {
    fill: var(--hover-focus);
  }
  .tel-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover, .tel-link:focus {
    color: var(--hover-focus);
  }
}

.hero-container {
  max-width: 1600px;
  text-align: center;
  align-content: center;
  padding-bottom: 118px;
  padding-top: 118px;
  background-position: 50%;
  background-color: var(--dark-color);
}

@media screen and (max-width: 479px) {
  .hero-container {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile-img/Header-img.jpg");
  }
}

@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192 dpi), screen and (max-width: 479px) and (min-resolution: 2px) {
  .hero-container .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile-img/Header-img@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero-container {
    max-width: 1600px;
    text-align: center;
    align-content: center;
    padding-bottom: 118px;
    padding-top: 118px;
    background-size: cover;
    background-position: 50%;
    background-color: var(--dark-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 479px) {
  .hero-container {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile-img/Header-img.jpg");
  }
}

@media screen and (min-width: 480px) and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 479px) and (min-resolution: 192 dpi), screen and (min-width: 480px) and (max-width: 479px) and (min-resolution: 2px) {
  .hero-container .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile-img/Header-img@2x.jpg");
  }
}

@media screen and (min-width: 480px) and (min-width: 480px) {
  .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile-img/Header-img.jpg");
  }
}

@media screen and (min-width: 480px) and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-width: 480px) and (min-resolution: 2px) {
  .hero-container .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile-img/Header-img@2x.jpg");
  }
}

@media screen and (min-width: 480px) and (min-widt: 767px) {
  .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet-img/Header img.jpg");
  }
}

@media screen and (min-width: 480px) and (min-widt: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-widt: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-widt: 767px) and (min-resolution: 2px) {
  .hero-container .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet-img/Header img@2x.jpg");
  }
}

@media screen and (min-width: 480px) and (min-width: 1200px) {
  .hero-container {
    height: 600px;
    padding: 200px 0px 200px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop-img/header.jpg");
  }
}

@media screen and (min-width: 480px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-width: 1200px) and (min-resolution: 2px) {
  .hero-container .hero-container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop-img/header@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .headline-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 768px) {
  .headline-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 204px;
    padding-right: 204px;
  }
}

@media screen and (min-width: 1200px) {
  .headline-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 452px;
    padding-right: 452px;
  }
}

.benefits {
  padding-top: 45px;
  padding-bottom: 45px;
  background: var(--light-color);
}

.description-list-link {
  display: flex;
  width: 290px;
  height: 70px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.description-list-icon {
  width: 50px;
  height: 50px;
}

.description-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.571;
  letter-spacing: 0.03em;
  color: var(--text);
  width: 290px;
}

.description:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--light-color);
  }
  .text-container {
    display: block;
    flex-direction: column;
  }
  .description-list-link {
    display: flex;
    width: 450px;
    height: 120px;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .description-list-icon {
    width: 70px;
    height: 70px;
  }
  .description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text);
    width: 450px;
  }
  .description:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .text-container {
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .description {
    margin: 15px;
  }
  .description:not(:last-child) {
    margin-bottom: 15px;
  }
  .description-list-link {
    display: inline-flex;
    width: 354px;
  }
  .description-list-icon {
    width: 70px;
    height: 70px;
  }
  .description-text {
    display: block;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .text-container {
    display: flex;
  }
  .description-list-link {
    width: 270px;
    height: 120px;
    display: flex;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .description-list-icon {
    width: 70px;
    height: 70px;
  }
  .description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--text);
    width: 270px;
  }
}

@media screen and (min-width: 480) {
  .options {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .options {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .options {
    display: flex;
    padding-bottom: 94px;
  }
  .images-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .images {
    position: relative;
    width: 370px;
    box-sizing: border-box;
    margin: 15px;
  }
  .text-position {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  }
}

.prof-team {
  background: var(--prof-team);
  padding-top: 45px;
  padding-bottom: 45px;
}

.prof-team {
  background: var(--prof-team);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-container {
  display: block;
  justify-content: center;
}

.team-list {
  width: 100%;
  background: var(--light-color);
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list:not(:last-child) {
  margin-bottom: 30px;
}

.name-list {
  padding: 32px 32px;
}

.specialists {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
}

.profession {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-top: 10px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-list {
    width: 354px;
    margin: 15px;
  }
  .team-list:not(:last-child) {
    margin-bottom: auto;
  }
  .name-list {
    padding: 30px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .prof-team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-list {
    width: 270px;
    background: var(--light-color);
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .name-list {
    padding: 30px 32px;
  }
  .specialists {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-spec);
  }
  .profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text);
    margin-top: 5px;
    margin-bottom: 16px;
  }
}

.client {
  background-color: var(--light-color);
  padding-top: 45px;
  padding-bottom: 45px;
}

.client-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -5px;
}

.client-list-item {
  margin: 5px;
}

.client-list-link {
  width: 140px;
  height: 65px;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover,
.client-list-link:focus {
  border-color: var(--hover-focus);
}

.client-list-icon {
  fill: var(--soc-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--btn);
}

@media screen and (min-width: 480px) {
  .client {
    background-color: var(--light-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .client-list {
    display: inline-flex;
    margin: -15px;
    flex-wrap: wrap;
  }
  .client-list-item {
    margin: 15px;
  }
  .client-list-link {
    width: 210px;
    height: 90px;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-list-link:hover,
  .client-list-link:focus {
    border-color: var(--hover-focus);
  }
  .client-list-icon {
    fill: var(--soc-fill);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-list-link:hover .client-list-icon,
  .client-list-link:focus .client-list-icon {
    fill: var(--btn);
  }
}

@media screen and (min-width: 768px) {
  .client-list-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .client-list-item {
    margin: 0;
  }
  .client-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .client-list-link {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-color);
}

.footer-container {
  display: flex;
}

.address {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
}

.contacts-block:not(last-child) {
  margin-bottom: 8px;
}

.contacts-list-link {
  color: var(--light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts_list {
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  display: block;
}

.footer-social-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.modal-form-sub {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-form-input-sub {
  display: flex;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 15px 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .modal-form-input-sub {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-input-sub {
    width: 350px;
  }
}

.modal-form-sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--btn);
  color: var(--light-color);
  border: none;
  cursor: pointer;
}

.modal-form-sub-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .footer-container {
    display: block;
    text-align: center;
  }
  .footer-social-block {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .address {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
  .contacts-block:not(last-child) {
    margin-bottom: auto;
  }
  .modal-form-sub {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
  }
  .sub-item {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .modal-form-input-sub {
    display: block;
    width: 450px;
  }
  .modal-form-sub-btn {
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .address {
    display: flex;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-bottom: 0;
  }
  .contacts-block:not(last-child) {
    margin-bottom: 9px;
  }
  .contacts-list-link {
    color: var(--light-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts_list {
    color: rgba(255, 255, 255, 0.6);
  }
  .contacts-list-link:hover,
  .contacts-list-link:focus {
    color: var(--hover-focus);
  }
  .footer-social-block {
    display: block;
    margin-left: 70px;
  }
  .modal-form-sub {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-top: 0;
  }
  .sub-item {
    display: flex;
    flex-direction: row;
  }
  .modal-form-input-sub {
    display: flex;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--light-color);
    background-color: var(--dark-topic);
    padding: 15px 16px;
    margin-bottom: 0;
  }
  .modal-form-input-sub:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-sub-btn {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--btn);
    color: var(--light-color);
    cursor: pointer;
    margin-left: 14px;
    border: none;
  }
  .modal-form-sub-btn:hover, .modal-form-sub-btn:focus {
    background: var(--hover-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .modal-form-sub-btn-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 70%;
  max-height: 608px;
  overflow: scroll;
  background-color: var(--modal);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--modal-btn-back);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn-icon {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
  fill: var(--hover-focus);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--modal-form-color);
  margin-bottom: 12px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
  padding-left: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover, .modal-form-input:focus {
  outline: none;
  border-color: var(--hover-focus);
}

.modal-form-input-icon {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 15px;
  height: 12px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .modal-form-input-icon,
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--hover-focus);
}

.modal-form-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 5px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:hover, .modal-form-message:focus {
  outline: transparent;
  border-color: var(--hover-focus);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  text-align: center;
  margin-top: 10px;
}

.modal-form-label-policy {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  align-items: center;
  color: var(--modal-policy);
}

.modal-form-label-policy::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #212121;
  background: var(--before-policy);
  margin-right: 10px;
  content: "";
  cursor: pointer;
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-color: var(--btn);
  border-radius: 1px;
  border: none;
  background-image: url(../img/icon-check.svg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.check-link {
  color: var(--check-link);
  cursor: pointer;
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  padding: 10px 54px;
  background: var(--btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-self: center;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background: var(--modal-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

@media screen and (min-width: 1200px) {
  .modal {
    overflow: hidden;
  }
}
/*# sourceMappingURL=main.css.map */