:root {
  --light-color: #ffffff;
  --mob-modal-text: #212121;
  --dark-color: #2f303a;
  --logo-span: #2196f3;
  --btn: #2196f3;
  --nav-btn: #ffffff;
  --logo-nav-header: #212121;
  --title: #212121;
  --hover-focus: #2196f3;
  --mail-tel: #757575;
  --text: #757575;
  --desk-link: #f5f4fa;
  --prof-team: #f5f4fa;
  --color-item-page: #2196f3;
  --line: #2196f3;
  --fill-nav-icon: #757575;
  --fill-icon: #afb1b8;
  --modal-btn: #188ce8;
  --modal-btn-back: #ffffff;
  --soc-fill: #afb1b8;
  --soc-back: #ffffff;
  --fill-list-icon: #ffffff;
  --footer-icon: #ffffff;
  --footer-link: #484957;
  --modal: #ffffff;
  --check-link: #2196f3;
  --modal-policy: #757575;
  --before-policy: #ffffff;
  --modal-form-color: #757575;
  --border-link: #2196f3;
  --back-btn: #f5f4fa;
  --mob-menu-accent: #2196f3;
}

/* BASE */
.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-size: contain;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background-color: var(--line);
  border-radius: 2px;
}

.current-prof::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 78px;
  height: 4px;
  background-color: var(--line);
  border-radius: 2px;
}

/* COMPONENTS */
.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  width: 134px;
  color: var(--logo-span);
  text-decoration: none;
  cursor: pointer;
}

.logo-img {
  color: var(--logo-nav-header);
}

.studia {
  color: var(--color-item-page);
}

.logo-footer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-footer {
  display: block;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  width: 154px;
  margin-bottom: 20px;
  cursor: pointer;
}

.logo-style-footer {
  color: var(--light-color);
}

@media screen and (min-width: 768px) {
  .logo-footer-item {
    display: block;
  }
  .logotype {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: var(--logo-span);
    text-decoration: none;
    width: 145px;
    margin-bottom: 20px;
  }
  .logo-footer-item {
    display: block;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--soc-back);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--btn);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--fill-list-icon);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--soc-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link {
  display: flex;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--footer-link);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--footer-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #ffffff;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--hover-focus);
}

@media screen and (min-width: 768px) {
  .footer-social-block {
    display: block;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-block {
    display: block;
    margin-left: 70px;
  }
  .footer-social-list {
    display: flex;
  }
}

.headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  min-width: 360px;
  height: 84px;
}

.title-benefits {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title);
  margin-bottom: 10px;
}

.title-team {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-bottom: 30px;
}

.client-title {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 30px;
}

.footer-social-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

.sub-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .headline {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    min-width: 360px;
    height: 84px;
  }
  .title-benefits {
    display: flex;
  }
  .title-team {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-spec);
    margin-bottom: 30px;
  }
  .client-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title);
    margin-bottom: 30px;
  }
  .footer-social-title {
    display: block;
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
  .sub-title {
    display: block;
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .headline {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    min-width: 696px;
    height: 120px;
  }
  .title-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title);
    width: 270px;
    margin-bottom: 10px;
  }
  .options-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title);
    margin-bottom: 50px;
  }
  .title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-spec);
    margin-bottom: 50px;
  }
  .client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title);
    margin-bottom: 50px;
  }
  .footer-social-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
  .sub-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
  }
}

/*.headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  min-width: 360px;
  height: 84px;
}

.title-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title);
    width: 270px;
    margin-bottom: 10px;
}

.options-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 50px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-bottom: 50px;
}*/
/* LAYOUT */
.header {
  background: var(--light-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .contacts {
    display: none;
  }
  .burger-btn,
  .mobile-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .burger-icon,
  .close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    top: 0;
    left: 50%;
    padding: 48px 40px;
    overflow: scroll;
    transform: translateX(-50%) translateY(-100%);
    background-color: var(--light-color);
    transition: transform 500ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }
  .mobile-menu-list:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts {
    margin-top: 300px;
  }
  .mobile-contacts-list:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--mob-modal-text);
  }
  .mobile-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--mob-menu-accent);
    margin-bottom: 32px;
  }
  .mobile-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--mail-tel);
  }
  .mobile-menu-social {
    display: flex;
    margin-top: 60px;
  }
  .mobile-social-list {
    position: relative;
    display: inline-flex;
  }
  .mobile-social-list:not(:first-child) {
    margin-left: 20px;
  }
  .mobile-social-list:not(:last-child)::after {
    position: absolute;
    content: "";
    right: -10px;
    top: 10px;
    height: 0;
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: -12px;
  }
  .mobile-social-link {
    font-weight: 500;
    color: var(--mob-menu-accent);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--logo-nav-header);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--hover-focus);
  }
  .portfolio {
    color: var(--mob-menu-accent);
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
  .mail-list-icon {
    width: 14px;
    height: 10px;
    fill: var(--fill-nav-icon);
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover .mail-list-icon,
  .mail-link:focus .mail-list-icon {
    fill: var(--hover-focus);
  }
  .mail-link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover, .mail-link:focus {
    color: var(--hover-focus);
  }
  .tel-list-icon {
    width: 10px;
    height: 14px;
    fill: var(--fill-nav-icon);
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover .tel-list-icon,
  .tel-link:focus .tel-list-icon {
    fill: var(--hover-focus);
  }
  .tel-link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover, .tel-link:focus {
    color: var(--hover-focus);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    color: var(--mob-menu-accent);
  }
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts-list {
    margin-bottom: 0;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 0;
  }
  .contacts-list:not(:last-child) {
    margin-right: 30px;
  }
  .mail-list-icon {
    width: 16px;
    height: 12px;
    fill: var(--fill-nav-icon);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover .mail-list-icon,
  .mail-link:focus .mail-list-icon {
    fill: var(--hover-focus);
  }
  .mail-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover, .mail-link:focus {
    color: var(--hover-focus);
  }
  .tel-list-icon {
    width: 10px;
    height: 16px;
    fill: var(--fill-nav-icon);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover .tel-list-icon,
  .tel-link:focus .tel-list-icon {
    fill: var(--hover-focus);
  }
  .tel-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--mail-tel);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link:hover, .tel-link:focus {
    color: var(--hover-focus);
  }
}

.information-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn-list-item {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.btn-list {
  margin: 8px;
}

.btn-list-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 130px;
  height: 38px;
  background: var(--back-btn);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list-link:hover, .btn-list-link:focus {
  background-color: var(--btn);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-board {
  display: block;
  margin-top: 40px;
}

.gallery-list {
  width: 450px;
  background: var(--main-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  cursor: pointer;
}

.gallery-list:hover, .gallery-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list:not(:last-child) {
  margin-bottom: 30px;
}

.gallery-list-link:hover,
.gallery-list-link:focus {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-link {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-gallery {
  width: 450px;
}

.overlay-block {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 64px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-link:hover .overlay,
.gallery-list-link:focus .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-link:hover,
.gallery-list-link:focus {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-desc {
  display: block;
  padding: 20px 24px;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .btn-list-item {
    justify-content: center;
    margin-bottom: 14px;
  }
  .btn-list:not(:last-child) {
    margin-right: 8px;
  }
  .gallery-board {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .gallery-list {
    width: 354px;
    border: 1px solid #eeeeee;
    background: var(--main-color);
    margin: 15px;
  }
  .gallery-list-link {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-color);
}

.footer-container {
  display: flex;
}

.address {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
}

.contacts-block:not(last-child) {
  margin-bottom: 8px;
}

.contacts-list-link {
  color: var(--light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts_list {
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  display: block;
}

.footer-social-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.modal-form-sub {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-form-input-sub {
  display: block;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 15px 16px;
  margin-bottom: 20px;
}

.modal-form-sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--btn);
  color: var(--light-color);
  border: none;
  cursor: pointer;
}

.modal-form-sub-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .footer-container {
    display: inline-flex;
    flex-wrap: wrap;
  }
  .footer-social-block {
    display: block;
    margin-left: 165px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-self: baseline;
  }
  .address {
    display: flex;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-bottom: 0;
  }
  .footer-social-block {
    display: flex;
  }
  .modal-form-sub {
    display: block;
    align-items: center;
  }
  .modal-form-input-sub {
    display: block;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .address {
    display: flex;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-bottom: 0;
  }
  .contacts-block:not(last-child) {
    margin-bottom: 9px;
  }
  .contacts-list-link {
    color: var(--light-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts_list {
    color: rgba(255, 255, 255, 0.6);
  }
  .contacts-list-link:hover,
  .contacts-list-link:focus {
    color: var(--hover-focus);
  }
  .footer-social-block {
    display: block;
    margin-left: 70px;
  }
  .modal-form-sub {
    display: flex;
    align-items: baseline;
    margin-left: auto;
  }
  .sub-item {
    display: flex;
    flex-direction: row;
  }
  .modal-form-input-sub {
    display: flex;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--light-color);
    background-color: var(--dark-topic);
    padding: 15px 16px;
    margin-bottom: 0;
  }
  .modal-form-input-sub:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-sub-btn {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--btn);
    color: var(--light-color);
    cursor: pointer;
    margin-left: 14px;
    border: none;
  }
  .modal-form-sub-btn:hover, .modal-form-sub-btn:focus {
    background: var(--hover-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .modal-form-sub-btn-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=portfolio.css.map */