.benefits {
  padding-top: 45px;
  padding-bottom: 45px;
  background: var(--light-color);
}
.description-list-link {
  display: flex;
  width: 290px;
  height: 70px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.description-list-icon {
  width: 50px;
  height: 50px;
}
.description-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.571;
  letter-spacing: 0.03em;
  color: var(--text);
  width: 290px;
}
.description:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--light-color);
  }
  .text-container {
    display: block;
    flex-direction: column;
  }

  .description-list-link {
    display: flex;
    height: 120px;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .description-list-icon {
    width: 70px;
    height: 70px;
  }
  .description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text);
  }
  .description:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .text-container {
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .description {
    margin: 15px;
  }
  .description:not(:last-child) {
    margin-bottom: 15px;
  }
  .description-list-link {
    display: inline-flex;
    width: 354px;
  }
  .description-list-icon {
    width: 70px;
    height: 70px;
  }
  .description-text {
    display: block;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .text-container {
    display: flex;
  }
  .description-list-link {
    width: 270px;
    height: 120px;
    display: flex;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .description-list-icon {
    width: 70px;
    height: 70px;
  }
  .description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--text);
    width: 270px;
  }
}
