.client {
  background-color: var(--light-color);
  padding-top: 45px;
  padding-bottom: 45px;
}
.client-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -5px;
}
.client-list-item {
  margin: 5px;
}
.client-list-link {
  width: 140px;
  height: 65px;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-link:hover,
.client-list-link:focus {
  border-color: var(--hover-focus);
}
.client-list-icon {
  fill: var(--soc-fill);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: var(--btn);
}

@media screen and (min-width: 480px) {
  .client {
    background-color: var(--light-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .client-list {
    display: inline-flex;
    margin: -15px;
    flex-wrap: wrap;
  }
  .client-list-item {
    margin: 15px;
  }
  .client-list-link {
    width: 210px;
    height: 90px;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-list-link:hover,
  .client-list-link:focus {
    border-color: var(--hover-focus);
  }
  .client-list-icon {
    fill: var(--soc-fill);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-list-link:hover .client-list-icon,
  .client-list-link:focus .client-list-icon {
    fill: var(--btn);
  }
}

@media screen and (min-width: 768px) {
  .client-list-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .client-list-item {
    margin: 0;
  }
  .client-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .client-list-link {
    width: 170px;
  }
}
