.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  width: 134px;
  color: var(--logo-span);
  text-decoration: none;
  cursor: pointer;
  margin-right: 88px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.logo-img {
  color: var(--logo-nav-header);
}
.studia {
  color: var(--color-item-page);
}
.logo-footer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo-footer {
  display: block;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  width: 154px;
  margin-bottom: 20px;
  cursor: pointer;
}
.logo-style-footer {
  color: var(--light-color);
}
@media screen and (min-width: 768px) {
  .logo-footer-item {
    display: block;
    align-self: center;
    flex-direction: row;
  }
  .logo-footer {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    display: flex;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: var(--logo-span);
    text-decoration: none;
    width: 145px;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .logo-footer-item {
    display: block;
  }
  //.logotype {
  //  display: flex;
  //  font-size: 26px;
  //  line-height: 1.192;
  //  width: 145px;
  //  margin-right: 93px;
  //  padding-top: 24px;
  //  padding-bottom: 25px;
  //}
}

//.logo-footer {
//  display: block;
// font-family: Raleway;

//  font-weight: 700;
// font-size: 26px;
//  line-height: 1.174;
//  letter-spacing: 0.03em;

//  color: var(--logo-span);
//  text-decoration: none;
//  width: 145px;
// margin-bottom: 20px;
// cursor: pointer;
//}
//.logo-style-footer {
//  color: var(--light-color);
//}
//.logo-footer-item {
//  display: block;
//}
//.logotype {
//  font-family: Raleway;
//  font-weight: 700;
//  font-size: 26px;
//  line-height: 1.174;
//  letter-spacing: 0.03em;
//  color: var(--logo-span);
//  text-decoration: none;
//  padding-top: 24px;
//  padding-bottom: 25px;
//  width: 145px;
//  margin-right: 93px;
//  cursor: pointer;
//}
//.logo-footer {
//  display: block;
//  font-family: Raleway;
//  font-weight: 700;
//  font-size: 26px;
//  line-height: 1.174;
//  letter-spacing: 0.03em;
//  color: var(--logo-span);
//  text-decoration: none;
//  width: 145px;
//  margin-bottom: 20px;
//  cursor: pointer;
//}
//.logo-footer-item {
//  display: block;
//}
