.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--soc-back);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn);
  }
  &:hover .social-list-icon,
  &:focus .social-list-icon {
    fill: var(--fill-list-icon);
  }
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--soc-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link {
  display: flex;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--footer-link);
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--footer-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #ffffff;
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--hover-focus);
}
@media screen and (min-width: 768px) {
  .footer-social-block {
    display: flex;
    align-self: center;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-block {
    display: block;
    margin-left: 70px;
  }
  .footer-social-list {
    display: flex;
  }
}
//.footer-social-list-link {
//  width: 44px;
//  height: 44px;
//  display: flex;
//  background-color: #484957;
//  justify-content: center;
//  align-items: center;
//  border-radius: 50%;
//  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}

//.footer-social-list-icon {
//  width: 20px;
//  height: 20px;
//  fill: #ffffff;
//}
//.footer-social-list-link:hover .footer-social-list-icon,
//.footer-social-list-link:focus .footer-social-list-icon {
//  fill: #ffffff;
//}
//.footer-social-list-item:not(:last-child) {
//  margin-right: 10px;
//}
//.footer-social-list-link:hover,
//.footer-social-list-link:focus {
//  background-color: var(--hover-focus);
//}
