:root {
  --light-color: #ffffff;
  --mob-modal-text: #212121;
  --dark-color: #2f303a;
  --logo-span: #2196f3;
  --btn: #2196f3;
  --nav-btn: #ffffff;
  --logo-nav-header: #212121;
  --title: #212121;
  --hover-focus: #2196f3;
  --mail-tel: #757575;
  --text: #757575;
  --desk-link: #f5f4fa;
  --prof-team: #f5f4fa;
  --color-item-page: #2196f3;
  --line: #2196f3;
  --fill-nav-icon: #757575;
  --fill-icon: #afb1b8;
  --modal-btn: #188ce8;
  --modal-btn-back: #ffffff;
  --soc-fill: #afb1b8;
  --soc-back: #ffffff;
  --fill-list-icon: #ffffff;
  --footer-icon: #ffffff;
  --footer-link: #484957;
  --modal: #ffffff;
  --check-link: #2196f3;
  --modal-policy: #757575;
  --before-policy: #ffffff;
  --modal-form-color: #757575;
  --border-link: #2196f3;
  --back-btn: #f5f4fa;
  --mob-menu-accent: #2196f3;
}
